[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=CncSimulator
Name[pt_BR]=CncSimulator
Comment=Computer numerically controlled machine simulator
Comment[pt_BR]=Simulador de máquinas de comando numérico computadorizado
Exec=free-cnc-simulator-wine %u
Icon=free-cnc-simulator-wine
Categories=Education;

